body > div > div > div.col-xs-9.col-sm-9.col-md-9 > ul > a {
    font-size: 1.8rem;
    font-weight: bolder
}

.loginform {
    position: absolute;
    top: 60px;
    left: 20%;
    right: 20%;
}

body > div > div > div.col-xs-9.col-sm-9.col-md-9 > h3 {
    font-weight: bolder;
    text-align: center;
}