{% extends "layout.html" %} {% block page %}


<div>
    <h1>Another Flask Blog</h1>
    <p>Nice to see you here, meeting someone in random web world is really fortunate</p>
    <p>This blog (or,blog project) is used to test the flask framework</p>
    <p>in the other word, this proj is used to learn about web dev in python, for me</p>
    <p>summarily, the flask has enough power to dev a rapid proto, it's quick enough</p>
    <p>but use it like writing scripts</p>
    <p>ok, I spent 6 hrs to write this proj, and finished the following features</p>
    <ul>
        <li>Login/Logout</li>
        <li>Add blog</li>
        <li>View Blog List/View Single Blog</li>
        <li>And a not ugly ui, maybe</li>
    </ul>
    <p>defaultly, the password of admin user also is 'admin', in git repo，you can find related sql </p><p><a href="https://git.suntao.science/suntao/fblog">git repo in here</a></p>
</div>


{% endblock %}