{% extends "layout.html" %} {% block page %}


<div>
    <h1>Another Flask Blog</h1>
    <p>Nice to see you here</p>
    <p>This proj is used to learn about web dev in python, for me</p>
    <p>Summarily, the flask has enough power to dev a rapid proto, it's quick enough</p>
    <p>But use it to dev, really like writing scripts ranther than oop</p>
    <p>All in all, I spent 6 hrs to write this proj, and finished the following features</p>
    <ul>
        <li>Login/Logout</li>
        <li>Add blog</li>
        <li>View Blog List/View Single Blog</li>
        <li>A not ugly ui, maybe</li>
    </ul>
    <p>I believe that there are many problem/issue in this proj, like csrf,xss,authorization,email,oauth... ,many things could be done, but as a basic blog ,its enough </p>
    <p>defaultly, the password of admin user also is 'admin', in git repo，you can find related sql </p><p><a href="https://git.suntao.science/suntao/fblog">git repo in here</a></p>
</div>


{% endblock %}