<!DOCTYPE>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='lib/bootstrap/dist/css/bootstrap.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!--
    <script src="{{ url_for('static',filename='lib/jquery/dist/jquery.js') }}"></script>
    <script src="{{ url_for('static',filename='lib/bootstrap/dist/js/bootstrap.js') }}"></script>
    -->

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-s">
                {% include "sider.html" %}
            </div>
            <div class="col-xs-9 col-sm-9 col-md-9">
                {% block page %} {% endblock %}

            </div>
        </div>

    </div>


</body>

<footer>
    <p class="center">2016 suntao,all rights reserved</p>
</footer>